---
import '../styles/main.css';
import '../styles/search-results.css';
import Typeahead from '../components/typeahead/Typeahead.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Typeahead</title>
  </head>
  <body>
    <div id="app">
      <Typeahead />
    </div>
  </body>
</html>
