---
import '../styles/main.css';
import '../styles/search-results.css';
import Typeahead from '../components/Typeahead/Typeahead.astro';
---

<script>
  import { Alpine } from 'alpinejs';
  Alpine.store('weatherStore', {
    weather: {},
    setWeather(weather) {
      this.weather = weather;
    },
  });
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Typeahead</title>
  </head>
  <body>
    <div id="app">
      <div class="side_by_side">
        <Typeahead />
      </div>
      <div x-data="{ data: $store.weatherStore }" x-html="JSON.stringify(data)">
      </div>
    </div>
  </body>
</html>
